In [2]:
import pandas as pd
# Online-Quelle:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
df = pd.read_csv(url)
# Als lokale Sicherung speichern
df.to_csv("daten.csv", index=False)

In [9]:
with open("daten.csv", "r") as f:
    header = f.readline() # Header Ã¼berspringen
    daten = []
    for line in f:
        spalten = line.strip().split(",")
        # Datentyp-Konvertierung (Cast)
        value = float(spalten[0])
        daten.append(value)

durchschnitt = sum(daten) / len(daten)
print(f"Datentyp: {type(daten)}, Durchschnitt: {durchschnitt}")

Datentyp: <class 'list'>, Durchschnitt: 5.843333333333334

In [30]:
table = []

with open("daten.csv", "r") as f:
    header = f.readline().strip().split(",") # Namen der Spalten merken
    number_cols = len(header)

    for row in f:
        values = row.strip().split(",")
        # Konvertierung: Versuche Zahlen in floats zu wandeln, sonst bleib beim String
        converted_row = []
        for value in values:
            try:
                converted_row.append(float(value))
            except ValueError:
                converted_row.append(value)

        table.append(converted_row)

# infos
number_rows = len(table)
print(f"Table has {number_rows} rows and {number_cols} columns.")
for colValue in table:
    print(f"Data type row: {type(colValue)} and its value is {colValue[0]}")

Table has 150 rows and 5 columns.
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 4.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.6
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.1
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 7.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.4
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.0
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.9
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.8
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.7
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.3
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.5
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 6.2
Datentyp der ersten Zeile: <class 'list'> und der Wert ist 5.9

In [4]:
import numpy as np
np_daten = np.array(daten)
# Operation auf alle Elemente gleichzeitig (Broadcasting)
normalisierte_daten = (np_daten - np_daten.mean()) / np_daten.std()
print(f"NumPy Durchschnitt: {np_daten.mean()}")

NumPy Durchschnitt: 5.843333333333334

In [24]:
import pandas as pd

df = pd.read_csv("daten.csv")

#col1 = df["sepal_length"]
#print(col1.head())

mean_col1 = df["sepal_length"].mean()
print(f"\nMean of column sepal_length: {mean_col1}");

# total mean of all numeric columns
#total_mean = df.mean(numeric_only=True)
#print("\nMean od all columns:")
#print(total_mean)

Mean der Sepal Length Spalte: 5.843333333333334

In [29]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("iris.sqlite")
query = "SELECT * FROM daten WHERE species = 'setosa'"
df_setosa = pd.read_sql(query, conn)
print(df_setosa.head())

query = "SELECT AVG(sepal_length) AS avg_sepal_length FROM daten WHERE species = 'setosa'"
avg_sepal_length = pd.read_sql(query, conn).iloc[0, 0] # Access the value
print(f"\nAverage sepal_length for setosa: {avg_sepal_length:.3f}") # if you do not use .iloc, you get a DataFrame and need to format it differently with [0]
conn.close()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Average sepal_length for setosa: 5.006