## Motivation example - simple math

In [2]:
int_1 = 1
int_2 = 2
print("Your two numbers are " + str(int_1) + " and " + str(int_2) + ".")
int_3 = int_1 + int_2
print(str(int_1) + " plus " + str(int_2) + " equals " + str(int_3) + ".")
int_3 = int_1 - int_2
print(str(int_1) + " minus " + str(int_2) + " equals " + str(int_3) + ".")
int_3 = int_1 * int_2
print(str(int_1) + " multiplied by " + str(int_2) + " equals " + str(int_3) + ".")
int_3 = int_1 / int_2
print(str(int_1) + " divided by " + str(int_2) + " equals " + str(int_3) + ".")

Your two numbers are 1 and 2.
1 plus 2 equals 3.
1 minus 2 equals -1.
1 multiplied by 2 equals 2.
1 divided by 2 equals 0.5.

### workflow functions

In [3]:
def my_first_function():
    print("I can’t believe I’m in a function!")


print("I’m not in a function!")
my_first_function()
print("I’m not in a function anymore!")

I’m not in a function!
I can’t believe I’m in a function!
I’m not in a function anymore!

## variable scope

In [2]:
def my_function():
    my_variable = "Inside a function."
    print("my_variable = " + my_variable)


my_variable = "Outside a function."
print("my_variable = " + my_variable)

my_function()
print("my_variable = " + my_variable)

my_variable = Outside a function.
my_variable = Inside a function.
my_variable = Outside a function.

## Nested functions

In [4]:
x = 1


def my_function():
    x = 10
    print("In my_function, x=" + str(x))

    def my_nested_function():
        x = 100
        print("In my_nested_function, x=" + str(x))

    my_nested_function()


my_function()
print("Outside of functions, x=" + str(x))

In my_function, x=10
In my_nested_function, x=100
Outside of functions, x=1

## Nested function with global variable

In [5]:
x = 1


def my_function():
    x = 10
    print("In my_function, x=" + str(x))

    def my_nested_function():
        global x
        x = 100
        print("In my_nested_function, x=" + str(x))

    my_nested_function()


my_function()
print("Outside of functions, x=" + str(x))

In my_function, x=10
In my_nested_function, x=100
Outside of functions, x=100

## Nested function with nonlocal variable

In [6]:
x = 1


def my_function():
    x = 10
    print("In my_function, x=" + str(x))

    def my_nested_function():
        nonlocal x
        x = 100
        print("In my_nested_function, x=" + str(x))

    my_nested_function()
    print("At the end of functions, x=" + str(x))


my_function()
print("Outside of functions, x=" + str(x))

In my_function, x=10
In my_nested_function, x=100
At the end of functions, x=100
Outside of functions, x=1

## Argumente

In [11]:
def add_three_numbers(a, b, c):
    the_sum = a + b + c
    print(
        "The sum of "
        + str(a)
        + ", "
        + str(b)
        + ", and "
        + str(c)
        + " is: "
        + str(the_sum)
    )


add_three_numbers(1, 2, 3)
add_three_numbers(10, 20, 30)
add_three_numbers(-123, 9271, -712)

# add_three_numbers(1, 2)
# add_three_numbers(1, 2, 3, 4)

The sum of 1, 2, and 3 is: 6
The sum of 10, 20, and 30 is: 60
The sum of -123, 9271, and -712 is: 8436

In [15]:
def person_info(name, phone, address, age):
    print(name + " (" + str(age) + ")")
    print("Phone: " + phone + "Address: " + address + "\n")


person_info("Alyssa", "423-192-2311", "152 Wander Lane", 23)

person_info(name="Hayden", phone="312-910-2238", address="51 Cosmo Drive", age=45)

person_info(address="56 Holland Drive", phone="312-910-1123", age=20, name="Jane")

Alyssa (23)
Phone: 423-192-2311Address: 152 Wander Lane

Hayden (45)
Phone: 312-910-2238Address: 51 Cosmo Drive

Jane (20)
Phone: 312-910-1123Address: 56 Holland Drive

In [16]:
def do_math(a, b=1, c=2, d=3):
    result = a + b + c + d
    print("Sum is: " + str(result))
    result = a * b * c * d
    print("Product is: " + str(result))


do_math(1)
do_math(1, 5)
do_math(1, 5, 10)
do_math(1, 5, 10, 20)

Sum is: 7
Product is: 6
Sum is: 11
Product is: 30
Sum is: 19
Product is: 150
Sum is: 36
Product is: 1000

## Return values

In [17]:
def return_one_thing(a, b):
    result = a + b
    return result


print(return_one_thing(5, 6))

11

In [18]:
def return_two_things(a, b):
    result1 = a + b
    result2 = a - b
    return result1, result2


print(return_one_thing(5, 6))
print(return_two_things(5, 6))

11
(11, -1)

In [19]:
sum_result, diff_result = return_two_things(5, 6)
print("Sum:", sum_result)
print("Difference:", diff_result)

Sum: 11
Difference: -1

In [20]:
def my_function():
    print("Hello from my_function!")


result = my_function()
print("Result is:", result)

Hello from my_function!
Result is: None